.span8 {
    width: 620px;
}

.wrapping {
    width: 100%;
    min-width: 240px;
    height: auto!important;
    
   
    
    display: flex;
    min-height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
   
    
}.form-search .nav {
    border: 1px solid #fff;
    border-radius: 3px;
    display: table;
    width: 100%;
    margin-bottom: 15px;
}
.form-search {
    font-size: 16px;
    color: #fff;
    background: #db5c4c;
    padding: 15px;
}
[type=checkbox], [type=radio] {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}
.form-search .nav label {
    border-right: 1px solid #fff;
    font-size: 13px;
    line-height: 30px;
    padding: 0 10px;
    display: table-cell;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    
}
.form-search .item-column {
    display: table-cell;
    vertical-align: top;
}
 .footer-form {
    -webkit-text-size-adjust: 100%;
    font-weight: 400;
    font-style: normal;
    font-family: Arial,Helvetica,sans-serif;
    line-height: 1.2;
    text-rendering: optimizeSpeed;
    -webkit-box-direction: normal;
    font-size: 16px;
    color: #fff;
    box-sizing: border-box;
 }
 .ext-end {
    -webkit-text-size-adjust: 100%;
    font-weight: 400;
    font-style: normal;
    font-family: Arial,Helvetica,sans-serif;
    text-rendering: optimizeSpeed;
    -webkit-box-direction: normal;
    font-size: 16px;
    box-sizing: border-box;
    background-color: transparent;
    text-decoration: none;
    text-decoration-skip-ink: none;
    color: inherit;
    text-align: center;
    display: inline-block;
    line-height: 20px;
    border: 1px solid #fff;
    border-radius: 5px;
    width: 280px;
    padding: 5px 10px;
 }
